log file /var/log/osmocom/osmo-upf.log
 logging color 1
 logging timestamp 1
 logging filter all 1
 logging print category 1
 logging print level 1
pfcp
 local-addr __CONTAINER_IP__
nft
 # netfilter requires no specific configuration
gtp
