[Unit]
Description=Osmocom BTS (TRX / FakeTRX)
After=network.target osmo-pcu.service
Wants=osmo-pcu.service

[Service]
Type=simple
User=root
Group=root

ExecStart=/usr/bin/osmo-bts-trx \
  -c /etc/osmocom/osmo-bts.cfg

Restart=on-failure
RestartSec=3
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target

